// Font
$mainFont                : 'Lato', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #333;
$mainFontSize            : 18px;
$mainFontWeight          : normal;
$semiBoldWeight          : 600;
$lightWeight             : 300;
$boldWeight              : bold;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$defaultColor            : #333333;
$grayColor               : #828282;
$lightGrayColor          : #BDBDBD;
$lightHoverColor         : #09ABE4;
$darkHoverColor          : #282696;
$whiteColor              : #FFFFFF;


// Neutral Color
$neutral-primary         : #333333;
$neutral-regular         : #333333;
$neutral-secondary       : #828282;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
